language: node_js
sudo: true

node_js:
  - "5"
  - "4"

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache:
  directories:
    - node_modules

after_script:
  - npm run lint
  - npm run coverage
  - npm run publish-coverage
